@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

:root {
  --color-font: rgba(80, 0, 0, 1);
  --color-active-red: rgba(255, 80, 80, 1);
  --color-white: rgba(255, 255, 255, 0.8);
  --color-green-faded: rgba(80, 255, 80, 0.1);
}
* {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
  font-family: "Prompt", sans-serif;
  font-size: 20px;
}
body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "HEADER HEADER"
    "NAV CLICKTOCALL"
    "MAIN MAIN"
    "FOOTER FOOTER";
  min-width: 330px;
  background: var(--color-white);
}
.mirror-design {
  border-radius: 3px;
  background-image: url(../resources/tree_bg_2.jpg);
  background-position: top 33% left;
  background-blend-mode: color;
  box-shadow: 0 0 8px 5px var(--color-font);
  margin: 0.5rem;
  animation: bg-slider 20s ease-in-out infinite;
}
@keyframes bg-slider {
  0%,
  100% {
    background-position: top 33% left;
    transform: rotateY(5deg);
  }
  50% {
    background-position: top 33% right;
    transform: rotateY(-5deg);
  }
}
.mirror-text-design {
  color: var(--color-font);
  text-shadow: 0 0 8px var(--color-font);
  mix-blend-mode: color-burn;
  font-weight: 800;
}

/* ----------------------------- */
/* A HEADER elemeinek beállítása */
/* ----------------------------- */
header {
  grid-area: HEADER;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 60vh;
  & .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    container-type: inline-size;
    width: 310px;
    height: calc(50% - 1rem);
    background-image: url(../resources/logo_3.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 0 8px 5px var(--color-font);
    margin: 0.5rem;
    animation: scrolling-logo 1.5s ease-out forwards;
    & .logo-text {
      position: relative;
      font-size: 32px;
      line-height: 28px;
      text-align: center;
      opacity: 0;
      animation: scrolling-logo-text 2s ease-out forwards 2.5s;
      &:first-of-type {
        font-size: 170px;
        line-height: 130px;
        animation-delay: 1.5s;
      }
    }
  }
  & .header-bg {
    position: relative;
    container-type: inline-size;
    width: calc(100% - 1rem);
    height: 50%;
    border-radius: 3px;
    overflow: hidden;
    margin: 0.5rem;
    box-shadow: 0 0 8px 5px var(--color-font);
    background-image: linear-gradient(
        to left,
        var(--color-green-faded),
        var(--color-green-faded)
      ),
      url("../resources/m5cs_1.jpg");
    background-size: cover;
    background-position: top;
    animation: scrolling 11s ease-in-out infinite;
    & h2,
    & p {
      position: absolute;
      top: 2vh;
      font-size: 10cqw;
      line-height: 10cqw;
      margin: 0 5cqw;
      /* font-weight: 800; */
    }
    & p {
      top: auto;
      bottom: 2vh;
      font-size: 5.5cqw;
      line-height: 5.5cqw;
      margin: 0 6.5cqw;
    }
  }
}
@keyframes scrolling-logo {
  from {
    background-position: left 0px top 300px;
  }
  to {
    background-position: top;
  }
}
@keyframes scrolling {
  0%,
  100% {
    background-position: top;
    transform: rotateX(5deg);
  }
  50% {
    background-position: bottom;
    transform: rotateX(-5deg);
  }
}
@keyframes scrolling-logo-text {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

/* ----------------------------- */
/* A NAV elemeinek beállítása    */
/* ----------------------------- */
nav {
  grid-area: NAV;
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: flex-start;
  width: 70px;
  & .toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 50px;
    width: 50px;
    transition: all 0.8s linear;
    cursor: pointer;
    z-index: 10;
    & .sr-only {
      display: none;
    }
    &.menu-active {
      box-shadow: 0 0 8px 2px var(--color-active-red);
      & li:nth-of-type(2) {
        transform: translateY(13.5px) rotate(45deg);
        background-color: var(--color-active-red);
        text-shadow: 0 0 8px var(--color-active-red);
        mix-blend-mode: plus-lighter;
      }
      & li:nth-of-type(3) {
        opacity: 0;
      }
      & li:nth-of-type(4) {
        transform: translateY(-13.5px) rotate(-45deg);
        background-color: var(--color-active-red);
        text-shadow: 0 0 8px var(--color-active-red);
        mix-blend-mode: plus-lighter;
      }
    }
    & li {
      list-style: none;
      position: relative;
      width: 80%;
      height: 4px;
      background-color: var(--color-font);
      text-shadow: 0 0 8px var(--color-font);
      mix-blend-mode: color-burn;
      transition: all 0.8s linear;
    }
  }
  & .menu {
    position: absolute;
    top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    translate: -120%;
    overflow: clip;
    transition: all 0.8s linear;
    &.menu-active {
      translate: 0;
    }
    & li {
      list-style: none;
      & a {
        position: relative;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        padding: 0.5rem 1.1rem;
        transition: all 0.3s;
        &:hover {
          color: var(--color-active-red);
          text-shadow: 0 0 8px var(--color-active-red);
          mix-blend-mode: hard-light;
          transform: translateY(-8px);
        }
      }
    }
  }
}

/* ----------------------------- */
/* A CLICKTOCALL beállítása      */
/* ----------------------------- */
.clicktocall {
  grid-area: CLICKTOCALL;
  position: sticky;
  top: 0.5rem;
  left: calc(100% - 50px);
  margin: 0.5rem;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  z-index: 10;
  & img {
    color: var(--color-font);
    filter: drop-shadow(0 0 8px var(--color-font));
    mix-blend-mode: color-burn;
  }
}

/* ----------------------------- */
/* A MAIN elemeinek beállítása    */
/* ----------------------------- */
main {
  grid-area: MAIN;
  z-index: 3;
  padding: 5%;
}

/* ----------------------------- */
/* A FOOTER elemeinek beállítása    */
/* ----------------------------- */
footer {
  grid-area: FOOTER;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 1rem);
  min-width: 310px;
  z-index: 8;
  padding: 0.5rem;
  bottom: 0;
  & .codepilot-logo .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    & span {
      font-size: 2.1rem;
      font-weight: 600;
      color: var(--color-font);
      filter: drop-shadow(0 0 8px var(--color-font));
      mix-blend-mode: color-burn;
      transition: all 0.3s linear;
    }
    & svg {
      color: var(--color-font);
      filter: drop-shadow(0 0 8px var(--color-font));
      mix-blend-mode: color-burn;
      transition: all 0.3s linear;
    }
    &:hover svg,
    &:hover span {
      color: var(--color-active-red);
      filter: drop-shadow(0 0 8px var(--color-active-red));
      mix-blend-mode: hard-light;
    }
  }
  & .social_media_items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    & a {
      height: 40px;
    }
    & svg {
      color: var(--color-font);
      filter: drop-shadow(0 0 8px var(--color-font));
      mix-blend-mode: color-burn;
      transition: all 0.3s linear;
      &:hover {
        color: var(--color-active-red);
        filter: drop-shadow(0 0 8px var(--color-active-red));
        mix-blend-mode: hard-light;
      }
    }
  }
  & .phonenumber {
    display: none;
    margin: 0 1rem;
    & p {
      font-size: 0.9rem;
    }
  }
  & .copyright {
    position: relative;
    white-space: nowrap;
    margin: 0 1rem;
    & p {
      font-size: 0.9rem;
    }
  }
}

/* -------------------------------- */
/* A Reszponzivitás beállítása      */
/* -------------------------------- */
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 30vh;
    & .logo {
      height: calc(100% - 1rem);
    }
    & .header-bg {
      width: calc(100% - 310px - 2rem);
      height: calc(100% - 1rem);
    }
  }
  nav .menu li a {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 992px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "HEADER HEADER"
      "NAV NAV"
      "MAIN MAIN"
      "FOOTER FOOTER";
  }
  nav {
    width: 100%;
    top: 10px;
    & .toggle {
      display: none;
    }
    & .menu {
      flex-direction: row;
      position: static;
      translate: 0;
      margin: 0.5rem;
    }
  }
  .clicktocall {
    display: none;
  }
  footer .phonenumber {
    display: block;
  }
  footer .copyright p,
  footer .phonenumber p {
    font-size: 1.3rem;
  }
}
