@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

:root {
  --color-glow-green: rgba(11, 139, 139, 0.8);
  --color-glow-green-faded: rgba(0, 197, 180, 0.3);
  --color-font: rgba(80, 0, 0, 1);
  --color-font-faded: rgba(80, 0, 0, 0.2);
  --color-active-red: rgba(255, 80, 80, 1);
  --color-white: rgba(255, 255, 255, 0.8);
  --color-green-faded: rgba(80, 255, 80, 0.1);
}
* {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
  font-family: "Prompt", sans-serif;
  font-size: 20px;
}
body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "HEADER HEADER"
    "NAV LOGO"
    "MAINFOOTER MAINFOOTER";
  min-width: 330px;
  background: var(--color-white);
}
.wood-design {
  border-radius: 3px;
  background-image: linear-gradient(
      to left,
      var(--color-green-faded),
      var(--color-green-faded)
    ),
    url(../resources/tree_bg_2.jpg);
  background-position: top 33% left;
  background-blend-mode: color;
  box-shadow: 0 0 8px 5px var(--color-font);
  margin: 0.5rem;
  animation: bg-slider 20s ease-in-out infinite;
}
@keyframes bg-slider {
  0%,
  100% {
    background-position: top 33% left;
  }
  50% {
    background-position: top 33% right;
  }
}

/* ----------------------------- */
/* A HEADER elemeinek beállítása */
/* ----------------------------- */
header {
  grid-area: HEADER;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 60vh;
  & .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    container-type: inline-size;
    width: 310px;
    height: calc(50% - 1rem);
    background-image: url(../resources/logo_3.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 0 8px 5px var(--color-font);
    margin: 0.5rem;
    /*     margin: 0 auto; */
    animation: scrolling-logo 1.5s ease-out forwards;
    & .logo-text {
      position: relative;
      font-size: 32px;
      line-height: 28px;
      font-weight: 700;
      text-align: center;
      color: var(--color-font);
      text-shadow: 0 0 8px var(--color-font);
      mix-blend-mode: color-burn;
      opacity: 0;
      animation: scrolling-logo-text 2s ease-out forwards 2.5s;
      &:first-of-type {
        font-size: 170px;
        line-height: 130px;
        animation-delay: 1.5s;
      }
    }
  }
  & .header-bg {
    position: relative;
    container-type: inline-size;
    width: calc(100% - 1rem);
    height: 50%;
    border-radius: 3px;
    overflow: hidden;
    margin: 0.5rem;
    box-shadow: 0 0 8px 5px var(--color-font);
    background-image: linear-gradient(
        to left,
        var(--color-green-faded),
        var(--color-green-faded)
      ),
      url("../resources/m5cs_1.jpg");
    background-size: cover;
    background-position: top;
    animation: scrolling 11s ease-in-out infinite;
    & h2 {
      position: absolute;
      top: 0;
      font-size: 10cqw;
      line-height: 10cqw;
      margin: 0 5cqw;
      color: var(--color-font);
      text-shadow: 0 0 8px var(--color-font);
      mix-blend-mode: color-burn;
      animation: scrolling-text 11s ease-in-out infinite;
    }
  }
}
@keyframes scrolling-logo {
  from {
    background-position: left 0px top 300px;
  }
  to {
    background-position: top;
  }
}
@keyframes scrolling {
  0%,
  100% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
}
@keyframes scrolling-logo-text {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes scrolling-text {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: calc(100% - 10cqw);
  }
}

/* ----------------------------- */
/* A NAV elemeinek beállítása    */
/* ----------------------------- */
nav {
  grid-area: NAV;
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: flex-start;
  width: 70px;
  margin: 0.5rem;
}
nav .toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 50px;
  width: 50px;
  transition: all 0.8s linear;
  cursor: pointer;
  z-index: 10;
}
nav .toggle .sr-only {
  display: none;
}
nav .toggle.menu-active {
  box-shadow: 0 0 8px 2px var(--color-active-red);
}
nav .toggle li {
  list-style: none;
  position: relative;
  width: 80%;
  height: 4px;
  background-color: var(--color-font);
  text-shadow: 0 0 8px var(--color-font);
  mix-blend-mode: color-burn;
  transition: all 0.8s linear;
}
nav .toggle.menu-active li:nth-of-type(2) {
  transform: translateY(13.5px) rotate(45deg);
  background-color: var(--color-active-red);
  text-shadow: 0 0 8px var(--color-active-red);
  mix-blend-mode: plus-lighter;
}
nav .toggle.menu-active li:nth-of-type(3) {
  opacity: 0;
}
nav .toggle.menu-active li:nth-of-type(4) {
  transform: translateY(-13.5px) rotate(-45deg);
  background-color: var(--color-active-red);
  text-shadow: 0 0 8px var(--color-active-red);
  mix-blend-mode: plus-lighter;
}
nav .menu {
  position: absolute;
  top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  translate: -120%;
  overflow: clip;
  transition: all 0.8s linear;
}
nav .menu.menu-active {
  translate: 0;
}
nav .menu li {
  list-style: none;
}
nav .menu li a {
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  color: var(--color-font);
  text-shadow: 0 0 8px var(--color-font);
  mix-blend-mode: color-burn;
  padding: 0.5rem 1.1rem;
  transition: all 0.3s;
}
nav .menu li a:hover {
  color: var(--color-active-red);
  text-shadow: 0 0 8px var(--color-active-red);
  mix-blend-mode: hard-light;
  transform: translateY(-8px);
}

/* ----------------------------- */
/* A MAIN-FOOTER beállítása      */
/* ----------------------------- */
.main-footer-wrapper {
  grid-area: MAINFOOTER;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------------------------- */
/* A MAIN elemeinek beállítása    */
/* ----------------------------- */
main {
  z-index: 3;
  padding: 5%;
}

/* ----------------------------- */
/* A FOOTER elemeinek beállítása    */
/* ----------------------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 1rem);
  min-width: 310px;
  z-index: 8;
  padding: 0.5rem;
  position: sticky;
  bottom: 0.5rem;
}
.codepilot-logo .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.codepilot-logo .logo span {
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--color-font);
  filter: drop-shadow(0 0 8px var(--color-font));
  mix-blend-mode: color-burn;
  transition: all 0.3s linear;
}
.codepilot-logo .logo svg {
  color: var(--color-font);
  filter: drop-shadow(0 0 8px var(--color-font));
  mix-blend-mode: color-burn;
  transition: all 0.3s linear;
}
.codepilot-logo .logo:hover svg,
.codepilot-logo .logo:hover span {
  color: var(--color-active-red);
  filter: drop-shadow(0 0 8px var(--color-active-red));
  mix-blend-mode: hard-light;
}
.social_media_items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.social_media_items a {
  height: 40px;
}
.social_media_items svg {
  color: var(--color-font);
  filter: drop-shadow(0 0 8px var(--color-font));
  mix-blend-mode: color-burn;
  transition: all 0.3s linear;
}
.social_media_items svg:hover {
  color: var(--color-active-red);
  filter: drop-shadow(0 0 8px var(--color-active-red));
  mix-blend-mode: hard-light;
}
.copyright {
  position: relative;
  white-space: nowrap;
  margin: 0 1rem;
}
.copyright p {
  font-size: 0.9rem;
  font-weight: 800;
  color: var(--color-font);
  text-shadow: 0 0 8px var(--color-font);
  mix-blend-mode: color-burn;
}

/* body > span {
  position: absolute;
  pointer-events: none;
  width: 30px;
  aspect-ratio: 1;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}
body > span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./wood_shaving_1m.png");
  background-size: cover;
  animation: moveWoodShaving 0.6s linear forwards;
}
@keyframes moveWoodShaving {
  0% {
    transform: translateX(0) rotate(0);
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(200px) rotate(180deg);
    opacity: 0;
  }
} */

/* -------------------------------- */
/* A Reszponzivitás beállítása      */
/* -------------------------------- */
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 30vh;
    & .logo {
      height: calc(100% - 1rem);
    }
    & .header-bg {
      width: calc(100% - 310px - 2rem);
      height: calc(100% - 1rem);
    }
  }
  nav .menu li a {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 992px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "HEADER HEADER"
      "NAV NAV"
      "LOG LOGO"
      "MAINFOOTER MAINFOOTER";
  }
  nav {
    width: calc(100% - 1rem);
    top: 10px;
  }
  nav .toggle {
    display: none;
  }
  nav .menu {
    flex-direction: row;
    position: static;
    translate: 0;
    margin: 0;
  }
}
